@charset "windows-1251";

*{FONT-WEIGHT: normal; FONT-SIZE: 18px; FONT-FAMILY: "Courier New", serif; background-color: #DDDDDD}

.toplink, .toplink:link,  .toplink:active, .toplink:visited
{font-weight: bold; color: #000000; text-decoration: none; background-color: #777777}

.toplink:hover 
{font-weight: bold; color: #FFFFFF; text-decoration: none; background-color: #777777}

#currentPage {color: #FFFFFF;}

A.NavigationLink:link, A.NavigationLink:active, A.NavigationLink:visited, A.NavigationLink:hover
{
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #7e7ab6; FONT-FAMILY: "MS Sans Serif", serif; background-color: transparent
}

A.DownLoadLink
{
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: "Courier New", monospace;
}

A.anoline:link, A.anoline:visited
{
	TEXT-DECORATION: none; COLOR: #000000; FONT-FAMILY: arial;
}

A.anoline:hover, A.NavigationLink:active
{
	COLOR: #AAAA00;
}

.Text
{
	FONT-WEIGHT: normal; FONT-SIZE: 18px; FONT-FAMILY: "Courier New", serif; background-color: #DDDDDD;
	padding-left: 1em;
}

.BoldText {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: "Courier New", serif; background-color: #DDDDDD;
	padding-left: 1em;
}

.NewConcept
{
	font-weight: bold; text-decoration: underline
}

.BigText, H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; FONT-FAMILY: "Arial", serif; background-color: #DDDDDD
}
.SmallText{
	FONT-WEIGHT: normal; FONT-SIZE: 16px; FONT-FAMILY: "Courier New", serif; background-color: #DDDDDD;
	padding-left: 1em;
}

.SmallLink
{
	FONT-WEIGHT: normal; FONT-SIZE: 16px; FONT-FAMILY: "Times New Roman", serif; background-color: #DDDDDD
}

.Link, .ELink
{
	FONT-WEIGHT: normal; FONT-SIZE: 18px;
}

.ELink, .ExternalLink
{
	
}

.ELink:active, .ExternalLink:active
{
	Color: Red
}

H1 {text-align: center; FONT-STYLE: italic; FONT-WEIGHT: bold; FONT-SIZE: 24px; FONT-FAMILY: "Times New Roman", serif}

.sli
{
	list-style-type: disc
}

.sliD
{
	list-style-type: decimal
}

.Text_sli {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; FONT-FAMILY: "Times New Roman", serif; text-indent: 9.0pt; margin-left:12.0pt
}

.Expander, .Closer
{
	display: none;
}

.Closer
{
	display: none;
	padding-bottom: 2em;
}

.ExpanderO, .ExpanderC
{
	display: block;
	padding-left: 1em;
	padding-top: 0.5em;
}

.Expander, .Closer
{
	cursor: pointer;
}

.RedColor, A.RedColor:link, A.RedColor:active, A.RedColor:visited
{
	color: Red; font-weight: bold
}


A:link, A:active {
	COLOR: blue
}
A:visited, A.RedColor:hover {
	COLOR: navy
}
A:hover {
	COLOR: red
}

OL {MARGIN-TOP: 0cm; list-style-type: decimal}

#SiteVersion {FONT-SIZE: 14px; FONT-STYLE: normal;}


Q {quotes: "\0000AB" "\0000BB" "\00201C" "\00201D"}
Q:before {content:  open-quote}
Q:after  {content: close-quote}
